{% extends 'template.html' %}

{% block content %}
<body>
    <h1>Request API</h1><br>
    <div>
        <form action="/" method="POST", class="form-horizontal">
            <div class="form-group">
                {{ form.hidden_tag() }}
                {% for field in form.display %}
                    <div class="row">
                        {{ form[field].label(style="margin:10px;") }}
                        <div class="col-sm-8">
                            {{ form[field](class="form-control",style="width: 100%") }}
                        </div>
                        <div class="col-sm-1">
                            <button type="submit" class="btn btn-primary col-xs-2">Request</button>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </form>
    </div>

    {% if result['result'] == 404 %}
    <h2>파라미터 오류</h2>

    {% elif result['result'] == 'success' %}
    <h2>Result</h2>
    <div class="table-responsive">
        <table class="table table-condensed">
            <thead>
                <tr>
                    <td>#</td>
                    <td>가맹점</td>
                    <td>전화번호</td>
                    <td>지역명</td>
                    <td>지번주소</td>
                    <td>도로명주소</td>
                    <td>카테고리</td>
                    <td>설명</td>
                    <td>링크</td>
                    <td>위도</td>
                    <td>경도</td>
                </tr>
            </thead>
            <tbody>
            {% for item in result['items'] %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ item['title'] }}</td>
                    <td>{{ item['phone'] }}</td>
                    <td>{{ item['local'] }}</td>
                    <td>{{ item['address'] }}</td>
                    <td>{{ item['roadAddress'] }}</td>
                    <td>{{ item['category'] }}</td>
                    <td>{{ item['description'] }}</td>
                    <td>{{ item['link'] }}</td>
                    <td>{{ item['LAT'] }}</td>
                    <td>{{ item['LOGT'] }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
</body>
{% endblock %}