{% extends 'template.html' %}

{% block content %}
<body>
    <h1>Request API</h1><br>
    <div>
        <form action="/" method="POST", class="form-horizontal">
            <div class="form-group">
                {{ form.hidden_tag() }}
                {% for field in form.display %}
                    <div class="row">
                        {{ form[field].label(style="margin:10px;") }}
                        <div class="col-sm-8">
                            {{ form[field](class="form-control",style="width: 100%") }}
                        </div>
                        <div class="col-sm-1">
                            <button type="submit" class="btn btn-primary col-xs-2">Request</button>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </form>
    </div>

    {% if result['result'] == 400 %}
        {{ result['error'] }}

    {% elif result['result'] == 200 %}
        <h2>Result</h2>
        <p><textarea id="jsonText" rows="15" cols="80">{{ result }}</textarea></p>
        <p><input type="button" onclick="btnSubmit()" value="json pretty ▼"></p>
        <p><textarea id="prettyJson" readonly="true" rows="15" cols="80"></textarea></p>
    {% endif %}

    <script type="text/javascript">
        const TAB = ' ';
        function prettyJson(jsonText) {
            if(!jsonText) {
                return jsonText;
            }
            var prettyJson = new Array();
            var depth = 0;
            var currChar;
            var prevChar;
            var doubleQuoteIn = false;
            for(var i = 0; i < jsonText.length; i++) {
                currChar = jsonText.charAt(i);
                if(currChar == '\"') {
                    if(prevChar != '\\') {
                        doubleQuoteIn = !doubleQuoteIn;
                    }
                } switch(currChar) {
                    case '{':
                        prettyJson.push(currChar);
                        if(!doubleQuoteIn) {
                            prettyJson.push('\n');
                            insertTab(prettyJson, depth+=4);
                        }
                        break;
                    case '}':
                        if(!doubleQuoteIn) {
                            prettyJson.push('\n');
                            insertTab(prettyJson, depth-=4);
                        }
                        prettyJson.push(currChar);
                        break;
                    case ',':
                        prettyJson.push(currChar);
                        if(!doubleQuoteIn) {
                            prettyJson.push('\n');
                            insertTab(prettyJson, depth);
                        }
                        break;
                    default:
                        prettyJson.push(currChar);
                        break;
                }
                prevChar = currChar;
            }
            return prettyJson.join('');
        }
        function insertTab(prettyJson, depth) {
            for(var i = 0; i < depth; i++) {
                prettyJson.push(TAB);
            }
        }
        function btnSubmit() {
            var jsonText = document.getElementById('jsonText').value;
            document.getElementById('prettyJson').value = prettyJson(jsonText);
        }
    </script>

</body>
{% endblock %}